.main-section{
    max-width: 1280px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 0 auto;
    padding: 0.6rem;
}
.content-left{
    text-align: center;
    animation: slideFromLeft 1s  ease forwards;
    opacity: 0;
}
@keyframes slideFromLeft {
    
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
   
    100%{
        opacity: 1;
        transform: translateX(0);
    }
    
}
.section-label{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-color)
}
.section-title{
    font-size: 2.25rem;
    color: var( --text-color);
    padding: 1rem;
}
.section-description{
    color: var(--gray);
    font-size: 1vw;

}
.button-group{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}
.watch-video ,
.download{
    border: none;
    border-radius: 0.375rem;
    background-color: var( --primary-color);
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    margin: 1rem;
}
.watch-video{
    background-color: var(--dark-gray);
}
.tour-button:hover{
    background-color: #5254f8;
}
.tour-button:hover{
    background-color: var(--light-gray);
}
.content-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-container{
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px, 4px, 8px rgba(0, 0, 0, 0.1) ;
    height: 50vh;
}
.section-img{
    height: 100%;
}
@media  screen and (min-width:768px) {
    .main-section{
        flex-direction: row;
        height: 82vh;
    }
    .content-left{
        width: 50%;
        text-align: left;
    }
    .section-title{
        padding-left: 0;
    }
    .button-group{
        justify-content: start;
        padding-left: 0;
    }
    .section-label{
        font-size: 1rem;
    }
    .section-title{
        font-size: 2.9rem;
    }
    .img-container{
        height: 70vh;
    }
    .section-description{
        font-size: 1vw;
        color: black;
        font-weight: 300;
        width: 78%;
    }
}